{% extends 'sor_pricing/base.html' %}
{% load static %}

{% block title %} PRI List {% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="card">

            <div class="card-header">
                <h3>PRI Codes</h3>
                <br>
                <a class="btn btn-primary btn-sm" href="{% url 'sor_entry:create_pri' %}">New PRI</a>
                <br>
            </div>
    
            <div class="card-body">
    
                <table class="table table-striped">
                    <thead class="thead-dark"> 
                        <tr>
                            <th>PRI Code</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>

                    {% for pri in pricode_list %}

                        <tr>
                            <td>{{ pri.lsor_pri_code }}</td>
                            <td>{{ pri.user.user_id }}</td>
                            <td>{{ pri.date_created }}</td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td>No Entries</td>
                        </tr>
                    {% endfor %}


                </table>
    
            </div>
    
        </div>

    </div>
{% endblock %}
