{% extends 'sor_pricing/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %} SOR List {% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="card">

            <div class="card-header">
                <h3>SOR List</h3>
                <hr>
                <h3>Filter Query</h3>

                <form action="">
                    {% csrf_token %}
                    {{ sor_filter.form|crispy }}
                    <br>
                    <input class="btn btn-primary btn-sm" type="submit" value="Submit">
                </form>
                <hr>
                <a class="btn btn-primary btn-sm" href="{% url 'sor_entry:create_sor' %}">New SOR</a>

                {% if sorentry_list %}
                    <a class="btn btn-primary btn-sm" href="{% url 'sor_entry:download_csv_date' date_created=query_date %}">Download CSV</a>
                {% endif %}
            </div>
    
            <div class="card-body">
    
                <table class="table table-striped">
                    <thead class="thead-dark"> 
                        <tr>
                            <th>SOR Code</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>

                    {% for sor in sorentry_list %}

                        <tr>
                            <td><a href="{% url 'sor_entry:sor_detail' pk=sor.pk %}">{{ sor.lsor_code }}</a></td>
                            <td>{{ sor.lsor_description }}</td>
                            <td>${{ sor.lsor_price|intcomma }}</td>
                            <td>{{ sor.user.username|upper }}</td>
                            <td>{{ sor.date_created }}</td>
                            <td><button data-id="{{ sor.pk }}" data-action="add" data-type="sor" class="btn btn-primary btn-sm update-csv-queue" href="">Add</button></td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td>No Entries</td>
                        </tr>
                    {% endfor %}


                </table>
    
            </div>
    
        </div>

    </div>
{% endblock %}
