#navbar-menu{
    background-color: white
}

#navbar-menu .nav-item .nav-link{
    color: black;
    font-weight: bold;
}

#navbar-menu .nav-link:hover{
    color: lightblue;
}

.navbar-brand{
    color: black;
    font-weight: bold;
}

.navbar-brand:hover{
    color: lightblue;
}